.change-location-layer {
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 60px;
    background-color: #D9D9D9;
    z-index: 2;
    transition: max-height 0.5s ease-out;
}

.change-location-layer[show="true"] {
    max-height: 100vh;
}

.change-location-layer[show="false"] {
    max-height: 0;
    overflow: hidden;
}

#back {
    width: fit-content;
    height: fit-content;
    place-self: flex-start center;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid var(--borderColor);
    background-color: var(--white);
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    pointer-events: all;
}

#back:active {
    filter: brightness(0.90);
    transform: scale(0.99);
}

.input-wrapper,
.change-location-layer ul {
    max-width: 350px;
    border-radius: 5px;
}

.input-wrapper {
    position: relative;
    height: 50px;
    max-height: 50px;
    margin: 20px 20px 0;
    display: flex;
    gap: 10px;
    opacity: 1;
    transition: max-height 0.2s linear, margin 0.2s linear, opacity 0.2s linear;
}

.input-wrapper::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    color: black;
    outline: none;
    pointer-events: none;
    transform-origin: left;
    transition: all 0.2s ease-in;
}

.input-wrapper.float::before {
    top: 2px;
    left: 15px;
    color: var(--black);
    transform: scale(0.8);
}


.change-location-layer ul {
    position: absolute;
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.5);
    list-style: none;
    top: 50px;
    width: 100%;
}

.input-wrapper input, 
.change-location-layer li {
    width: 100%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    outline: none;
}

.input-wrapper input {
    padding: 20px 40px 5px 15px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    text-overflow: ellipsis;
}

.change-location-layer li {
    padding: 10px 40px 10px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 0.2s linear;
}

.change-location-layer li:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.change-location-layer li:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.change-location-layer li strong {
    pointer-events: none;
}

.change-location-layer li:hover,
.change-location-layer li:focus {
    background-color: var(--white);
    color: var(--black);
    padding-left: 25px;
}

.clear,
.edit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
}

.clear {
    right: 10px;
    opacity: 1;
}

.edit {
    right: -10px;
    opacity: 0;
}

.edit.enter {
    right: 10px;
    opacity: 1;
}

.clear.exit {
    right: -10px;
    opacity: 0;
    pointer-events: none;
}

.clear i,
.edit i {
    color: var(--black);
    pointer-events: none;
}

.change-location-layer p {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0;
    width: fit-content;
    gap: 5px;
    text-align: center;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.change-location-layer p button {
    border: none;
    background-color: var(--white);
    padding: 7px 15px;
    border-radius: 5px;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: inherit;
    cursor: pointer;
}

@media (min-width: 390px) {
    .input-wrapper {
        margin: 20px auto 0;
    }

    .change-location-layer ul {
        margin: 0 auto;
    }

    .input-wrapper input,
    .change-location-layer li {
        width: 350px;
    }    
}