.bg {
    min-height: 100vh;
    background-size: cover;
    mix-blend-mode: color;
}

header {
    display: grid;
    grid-template-columns: 185px auto;
    max-width: 576px;
    margin-bottom: 0.1rem;
    padding: 20px 10px 10px;
    box-shadow: 0 1px 1px var(--borderColor);
    color: var(--black);
    background-color: var(--white);
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

header > * {
    opacity: 0;
    transition: opacity 0.5s ease-in 0.5s;
}

header.reveal > * {
    opacity: 1;
}

header > :first-child {
    max-width: 100%;
    grid-column: 1/span 2;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

header > :nth-child(2) {
    margin: auto 5px 2px 0;
    font-size: 15px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#change {
    padding: 3px 6px;
    border-radius: 25px;
    width: fit-content;
    margin-left: auto;
    border: 1px solid var(--borderColor);
    background-color: var(--white);
    color: rgba(0, 0, 0, 0.65);
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 0.5s linear 0.5s, top 0.5s ease-out 0.5s;
}

header.reveal #change {
    top: 0;
    opacity: 1;
    pointer-events: all;
}

#change:active {
    filter: brightness(0.90);
    transform: scale(0.99);
}

@media (min-width:616px) {
    header {
        margin: 0 auto 1rem;
    }
}

/* @media (min-width: 576px) {
    header h1 {
        font-size: 40px;
    }
}

@media (min-width:992px) {
    header {
        width: 600px;
    }
    
} */