.panel {
    width: 100%;
    color: var(--black);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.panel-wrapper:first-of-type .panel p,
.panel-wrapper:first-of-type .panel img,
.panel-wrapper:nth-of-type(2) .panel img,
.panel-wrapper:nth-of-type(2) .panel span {
    opacity: 0;
    transition: opacity 0.5s ease-in 0.5s, transform 0.5s linear 0.5s;
}

.panel-wrapper:first-of-type .panel p,
.panel-wrapper:nth-of-type(2) .panel img:first-of-type,
.panel-wrapper:nth-of-type(2) .panel span:first-of-type,
.panel-wrapper:nth-of-type(2) .panel span:nth-of-type(2) {
    transform: translateX(-20px); 
}

.panel-wrapper:first-of-type .panel img,
.panel-wrapper:nth-of-type(2) .panel img:last-of-type,
.panel-wrapper:nth-of-type(2) .panel span:last-of-type,
.panel-wrapper:nth-of-type(2) .panel span:nth-of-type(3) {
    transform: translateX(20px); 
}

.panel-wrapper:first-of-type.reveal .panel p,
.panel-wrapper:first-of-type.reveal .panel img,
.panel-wrapper:nth-of-type(2).reveal .panel img,
.panel-wrapper:nth-of-type(2).reveal .panel span {
    opacity: 1;
    transform: translateX(0);
}

.panel-wrapper:first-of-type.reveal .temps,
.panel-wrapper:nth-of-type(3).reveal .panel {
    opacity: 1;
}

.panel-wrapper:first-of-type .panel p:first-of-type {
    place-self: flex-end;
    display: flex;
    align-items: flex-start;
    font-size: 80px;
    color: var(--black);
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.panel-wrapper:first-of-type .panel p:first-of-type button {
    margin: 6px 0 0 5px;
    border: none;
    background-color: transparent;
    font-size: 48px;
    font-family: inherit;
}

.panel-wrapper:first-of-type .panel img {
    height: 100%;
    grid-column: 2;
    grid-row: 1/span 2;
}

.panel-wrapper:first-of-type .panel p:nth-of-type(2) {
    place-self: center;
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;;
    font-weight: 600;
    font-style: oblique;
    text-transform: uppercase;
}

.temps-wrapper {
    border-top: 1px solid var(--borderColor);
}

.temps {
    max-width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column: 1/span 2;
    grid-row: 3;
    column-gap: 10px;
    place-self: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.5s;
}

.temps span {
    text-align: center;
}

.temps span:first-of-type,
.temps span:nth-of-type(2),
.temps span:nth-of-type(3),
.panel-wrapper .panel > span:first-of-type,
.panel-wrapper .panel > span:nth-of-type(2) {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.temps span:first-of-type,
.temps span:nth-of-type(2),
.temps span:nth-of-type(3) {
    font-size: 32px;
}

.temps span:nth-of-type(4),
.temps span:nth-of-type(5),
.temps span:last-of-type {
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

.panel-wrapper {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid var(--borderColor);
}

.panel-wrapper .panel {
    max-width: 400px;
    margin: 0 auto 5px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-template-rows: 100px 50px;
}

.panel-wrapper:nth-of-type(2) .panel {
    grid-template-rows: 100px 28px 20px;
}

.panel-wrapper .panel img {
    place-self: center;
    height: 100%;
}

.panel-wrapper .panel span {
    place-self: center;
    height: 100%;
}

.panel-wrapper:nth-of-type(2) .panel > span {
    font-size: 22px;
}

.panel-wrapper .panel .sunrise_set {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-template-rows: 30px;
    grid-column: 1/span 2;
    place-content: center;
    width: 100%;
    margin: auto;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
} 

.panel-wrapper:nth-of-type(3) .panel {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 30px 20px;
    grid-column: 1/span 2;
    grid-row: 3;
    place-items: center;
    padding: 10px 0;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.5s;
}

.panel-wrapper:nth-of-type(3) .panel span:first-of-type,
.panel-wrapper:nth-of-type(3) .panel span:nth-of-type(2),
.panel-wrapper:nth-of-type(3) .panel span:nth-of-type(3) {
    font-size: 22px;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.panel-wrapper:nth-of-type(3) .panel span:nth-of-type(4),
.panel-wrapper:nth-of-type(3) .panel span:nth-of-type(5),
.panel-wrapper:nth-of-type(3) .panel span:last-of-type {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
